html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "HEAVYWEIGHT";
    src: url("../fonts/HEAVYWEI.ttf");
}

@font-face {
    font-family: "CANTARELL";
    src: url("../fonts/CANTARELL.otf");
}

h1,h2,h3,h4,h5 {
    font-family: "HEAVYWEIGHT";
}

p {
    font-family: "CANTARELL";
}

.div-social {
    display: flex;
    justify-content: flex-end;
}

.img-logo {
    height: 20px;
    width: 20px;
}

.div-heading {
    width: 70%;
    margin: auto;
    padding: 0.8rem;
    /*margin-bottom: 2rem;*/
    border-radius: 5px;
    font-family: "HEAVYWEIGHT";
    font-size: 2rem;
}

.nav-list {
    width: 40%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    margin: auto;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #c0bfbc;
    border-radius: 5px;
}

.nav-main {
    flex-basis: 50%;
    padding: 1rem;
}
.ul-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-item {
    padding: 0.5rem;
}
.link-item {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}
.link-item:hover {
    text-decoration: underline;
}

.icon-article {
    flex-basis: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}
.icon-article i {
    font-size: 2rem;
}

.image-nav {
    height: 2rem;
}

a:hover, .icon-article {
    color: #ff0000;
}

.main-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.art-slogan {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
}

.img-slogan {
    height: 95%;
    width: 95%;
}

.list-item {
    font-family: "HEAVYWEIGHT";
}

.art-mision-vision {
    width: 60%;
    margin: auto;
}

.art-mision-vision-h {
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-images {
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.div-main {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*border: medium solid rgb(0, 0, 0);*/
}

.store-item {
    padding: 1rem;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: dotted;
}

.store-item-img {
    height: 10rem;
}
